.track {
    display: flex;
    align-items: center;
    width: 25vw;

    &__img, img {
        width: 55px;
        height: 55px;
        border-radius: 5px;
        background-color: none;
        box-shadow: 0 0 3px rgb(80 80 80);
    }

    &__info {
        display: block;
        margin-left: 20px;
    }

    &__name {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__creator {
        color: #222;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: all 0.2s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    &__like {
        position: relative;
        height: 30px;
        width: 30px;
        margin-left: 10px;

        &_img {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: -13px;
                width: 15px;
                height: 26px;
                border-radius: 64px 64px 0 0;
                background: rgb(92 92 92);
            }

            &::before {
                left: 15px;
                transform: rotate(-45deg);
                transform-origin: 0 100%;
            }

            &::after {
                left: 0;
                transform: rotate(45deg);
                transform-origin: 100% 100%;
            }
        }
    }

    .active {
        &::before,
        &::after {
            background: rgb(255 0 0);
        }
    }
}
